<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frinkan</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/css/index.css">
    <div id="nav"></div>
    <script src="../static/js/nav.js"></script>
</head>
<body>
    <div id="nav"></div>

    <!-- <h1>home</h1> -->

    <script src="../static/js/nav.js"></script>
</body>
</html>